QMainWindow {
    background-color: #1a152e;
    border: 2px solid #fff;
    border-radius: 16px;
}

#label1{
    color: #1beef5;
}
#label2{
    color: #ca44ff;
    text-align: center;
    margin: 0 250px;
}

QPushButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #45a049;
}