QTreeView {
    background-color: #282a36;
    color: #FFF;
}
QTreeView::branch {
    color: blue;
}
QTreeView QScrollBar:vertical {
    background-color: #f0f0f0;
    width: 16px;
}
QTreeView QScrollBar::handle:vertical {
    background-color: #919191;
    min-height: 20px;
}
QTreeView QScrollBar::add-line:vertical,
QTreeView QScrollBar::sub-line:vertical {
    background-color: none;
}
QTreeView QScrollBar::add-page:vertical,
QTreeView QScrollBar::sub-page:vertical {
    background-color: none;
}